<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <form action="/ex5" method="post">
                Rounds: <input type="number" name="rounds" value="16"/>
                <input type="submit" value="Calculate !"/><br>
            </form>
            <br>
            <h4>The process can take a minute. (This isn't sponsored by Royco 🍵)</h4>
            <table>
                <% if (times.length > 0) { %>
                    <tr>
                        <th>Characters</th><th>Time to salt</th><th>Time to hash</th>
                     </tr>
                <% } %>

             
                <% for (var i = 0; i < times.length; i++) { %>
                 <tr>
                   <td> <%= times[i].chain %> </td>
                   <td><%= times[i].timeToSalt %></td>
                   <td><%= times[i].timeToHash %></td>
                 </tr>    
                <% } %>
             </table>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>